/* General Reset */
body {
    margin: 0;
    padding: 20mm;
    font-family: 'Arial', sans-serif;
    background-color: #e4e2e8;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Certificate Wrapper */
.certificate-wrapper {
    width: 200mm;
    height: 120mm;
    background-color:#2A333A;
    color: #fff;
    box-shadow: 0 10mm 20mm rgba(0, 0, 0, 0.3);
    position: relative;
    padding: 25mm;
}

/* Certificate Content */
.certificate-content {
    text-align: left;
    padding: 2mm;
    margin-left: 80mm;
}

/* Title */
.certificate-content .title h1 {
    font-size: 18mm;
    font-weight: bold;
    margin: -5mm;
    margin-left: 0;
    background: linear-gradient(to right, rgba(179, 120, 43, 4), #efdaa1);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.certificate-content .title h2 {
    font-size: 10mm;
    font-weight: bold;
    color:#90999E;
    margin-top: 1mm;
    margin-left: 1mm;
    text-align: left;
    letter-spacing: 1mm;
}

/* Subtitle Text */
.certificate-content .initial-content {
    font-size:4.7mm;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15mm;
    font-weight: bold;
    color: #92969F;
    letter-spacing: 1mm;
}

/* Candidate Name */
.certificate-content .candidate-name {
    font-size: 18mm;
    font-family: 'Kunstler Script', cursive;
    font-weight: bold;
    margin: 2mm 0;
    color:#FFCB6F;
    text-decoration: none;
    position: relative;
    text-align: left;
}

/* Vertical Line */
.vertical-line {
    margin-right:18mm;
    width: 11mm;
    height: 100%;
    background-color:#FFCA60;
    position: absolute;
    left: 80mm;
    top: 0;
}

/* Candidate Name Underline */
.certificate-content .candidate-name::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2mm;
    width: 100%;
    height: 1mm;
    background-color: #6A6F76;
}

.extra-content {
    font-size: 4.4mm;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 3mm;
}

.sign-president {
    display: block;
    font-size: 3mm;
    font-weight: bold;
    color: #ededec; 
    text-align: center;
    justify-items: baseline;
    margin-right: 80mm;
    margin-bottom: 19mm;  
    margin-top: 19.9mm;
}

/* Signature Names */
.sign-director {
    display: block;
    font-size: 3mm;
    font-weight: bold;
    color: #e7e6e4; 
    text-align: center;
    margin-top: -22.4mm;
    margin-left: 50mm;
}



/* Main Text Content */
.certificate-content .main-content {
    font-size: 4.4mm;
    margin: 20px 0;
    color: #90999E;
}

/* Organization Logo */
.certificate-content .org-logo img {
    width: 70mm;
    height: auto;
    position: absolute;
    top: 40%;
    left: 6mm;
    transform: translateY(-50%);
}

/* Date Positioning */
.date {
    position: absolute;
    top: 6mm;
    right: 6mm;
    font-size: 4mm;
    color: #c8c7c2;
}
 .certificate-content .org-name{

    position: absolute;
    text-align: left;
    left: 6mm;
    bottom: 30mm;
    font-size: 6mm;
    color: #FFCB6F;

}
.certificate-content .org-address {
    position: absolute;
    bottom: 8mm;
    left: 6mm;
    font-size: 4.3mm;
    color: #e7e6e4;
    text-align: left;
    line-height: 5mm;
}

.certificate-content .sign-director::after {
    content: "";
    position: absolute;
    left: 107mm;
    width: 14%;
    height: 0.5mm;
    background-color: #e4e8ee;
    bottom: 24mm;
    
}

.certificate-content .sign-president::after {
    content: "";
    position: absolute;
    left: 172mm;
    width: 13%;
    height: 0.5mm;
    background-color: #e4e8ee;
    bottom: 24mm;
    
}


