@font-face {
    font-family: sub;
    src: url("../fonts/AlexBrush-Regular.ttf");
  }
  @font-face {
    font-family: cname;
    src: url("../fonts/New Walt Disney.ttf");
  }
  
  @media all{
      body.printView, body.printView:before, body.printView:after { 
          border : none !important;
      }
      .certificate-wrapper {
        overflow: hidden;
        width: 297mm;
        height: 210mm;
        position: relative;
        background: white !important;
        line-height: normal;
      }
      .certificate-wrapper .certificate-background {
        
        left: 0mm;
        top: auto;
        width: 297mm;
        height: 210mm;
        overflow: hidden;
        position: relative;
        background:silver;
  
      }
      .radius{
      position: absolute;
      margin: 9mm;
      border: 2px solid #e9b81c ;
      padding: 78mm;
      border-radius: 6mm;
      padding-right: 158mm;
      padding-bottom: 73mm;
      z-index:1;
  }
  
      .radius2{
        position: absolute;
      margin: 9mm;
      border: 2px solid #e9b81c ;
      padding: 78mm;
      border-radius: 6mm;
      padding-right: 158mm;
      padding-bottom: 75mm;
      padding-left: 70mm;
      padding-top: 68mm;
      z-index: 1;
      top: 4mm;
      left: 4mm;
      height: -25mm;
      width: -100mm;
  }
  
}
       .recttop {
           /* position: absolute; */
      z-index: 2;
      top: 18.3mm;
      left: -23mm;
      width: 111.13mm;
      height: 9.5mm;
      background: #e9b81c !important;
      transform: rotate(-44deg);
      position: absolute;
      }
      .rectleft {
          /* position: absolute; */
      z-index: 1;
      top: 131.3mm;
      left: 180mm;
      width: 111.13mm;
      height: 9.5mm;
      background: #e9b81c !important;
      transform: rotate(-44deg);
      position: absolute;
      }
      .rectleft1 {
          /* position: absolute; */
      width: 19px;
      height: 172px;
      transform: skew(-45deg);
      background: #e9b81c !important;
      position: absolute;
      top: 111mm;
      left: 248mm;
      z-index: 1;
      }
      
      .rectleft2 {
          /* position: absolute; */
      /* position: absolute; */
      width: 19px;
      height: 172px;
      transform: skew(-45deg);
      background: #e9b81c !important;
      position: absolute;
      top: 14mm;
      left: 2mm;
      z-index: 2;
      }
      
   .tri1 {
          /* position: absolute; */
      transform: rotate(46deg);
      left: -5mm;
      top: -24mm;
      width: 0mm;
      height: 0mm;
      border-style: solid;
      border-width: 105pt 101pt 96pt 0;
      border-color: #282082;
      position: absolute;
      z-index: 2;
      }
   .tri2 {
           /* position: absolute; */
      transform: rotate(45deg);
      left: 227mm;
      top: 121.3mm;
      width: 0mm;
      height: 0mm;
      border-style: solid;
      border-width: 103pt 0 101pt 101pt;
      border-color:  #282082;
      position: absolute;
      z-index: 1;
      }
   .tri3 {
       
        left: 15mm;
        top: 71mm;
        width: 0mm;
        height: 0mm;
        border-style: solid;
        border-width: 19pt 48pt 28pt 0;
        border-color: transparent #DC143C transparent transparent !important;
        position: absolute;
        z-index: 1;
      }
      .certificate-wrapper .certificate-background .boxx {
        /* position : absolute; */
        left: 14mm;
        top: 0mm;
        width: 267mm;
        height: 180mm;
        background-color: #808080 !important;
        opacity: 0.2;
        position: relative;
      }
      .certificate-wrapper .certificate-background .rectbtm {
      
        left: 146mm;
        top: 194.5mm;
        width: 160mm;
        height: 15mm;
        background: #DC143C !important;
        transform: skewX(-50deg);
        position: absolute;
      }
   .rectright {
       
        left: 281mm;
        top: 131mm;
        width: 16mm;
        height: 70mm;
        background: #DC143C !important;
        transform: skewY(-25deg);
        position: absolute;
      }
  .tri4 {
       
        left: 286.5mm;
        top: 112mm;
        width: 0mm;
        height: 0mm;
        border-style: solid;
        border-width: 19pt 0 18pt 28pt;
        border-color: transparent transparent transparent #DC143C !important;
        position: absolute;
      }
   .tri5 {
       
        left: 264mm;
        top: 104mm;
        width: 0mm;
        height: 0mm;
        border-style: solid;
        border-width: 37pt 55pt 34pt 0;
        border-color: transparent #DC143C transparent transparent !important;
        position: absolute;
      }
   .tri6 {
        
        left: 263mm;
        top: 122mm;
        width: 0mm;
        height: 0mm;
        border-style: solid;
        border-width: 30pt 0 27pt 45pt;
        border-color: transparent transparent transparent #DC143C !important;
        position: absolute;
      }
   .boxbtm {
        
        left: 14mm;
        top: 140.3mm;
        width: 56mm;
        height: 54mm;
        border-left: 3pt solid #800000 !important;
        border-bottom: 3pt solid #800000 !important;
        position: absolute;
      }
      .boxtop {

        left: 225mm;
        top: 14.5mm;
        width: 56mm;
        height: 54mm;
        border-top: 3pt solid #800000 !important;
        border-right: 3pt solid #800000 !important;
        position: absolute;
      }
      .certificate-content {
        top: 20mm;
        right: 20mm;
        bottom: 20mm;
        left: 20mm;
        position: absolute;
        background:white;
        overflow:hidden;
      }
      
          .chevron {
        position: relative;
        text-align: center;
        padding: 14mm;
        margin-bottom: 6mm;
        height: 60mm;
        width: 200mm;
        top:33mm;
        right:47mm;
        
      }
  
      .chevron:after {
        content: '';
        position: absolute;
        top: 42;
        right: 59;
        height: 9mm;
        width: 70mm;
        background: #f2d57a;
        transform: skew(0deg, 0deg);
      }
      
      .title {
        position: absolute;
        left: 66mm;
        /* top: 10mm; */
        right: 0mm;
        font-size: 60pt;
        /* text-shadow: 2mm 2mm 2mm #DB7093 !important; */
        /* text-align: center; */
        /* margin: auto; */
        font-family: ui-sans-serif;
        line-height: normal;
        top: 20mm;
      }
  .sr-no {
         left: 10mm;
        top: 31mm;
        font-size: 12pt;
        position: absolute;
        transform:rotate(-45deg);
      }
   .org-logo {
        left: 5mm;
        bottom: 0mm;
        position: absolute;
        z-index: 2;
        width: 79mm;
        height: 20mm;
      }
      .certificate-wrapper .certificate-content .org-logo img {
        width: 31mm;
        max-height: 33mm;
        max-width: 100%;
        position: absolute;
        top: -41mm;
        left: 104mm;
      }
      .subtitle {
        position: absolute;
        left: 100mm;
        top: 45mm;
        right: 0mm;
        color: #cc0052 !important;
        font-family: sub;
        font-size: 19pt;
        z-index:2;
       
      }
      
      .innerborder{
           
           
      }
      
      
      .certificate-wrapper .certificate-content .initial-content {
            position: absolute;
      left: 6mm;
      top: 58mm;
      right: 0mm;
      font-size: 15pt;
      text-align: center;
      margin: auto;
      position: absolute;
      }
      .certificate-wrapper .certificate-content .candidate-name {
        position: absolute;
        left: 0mm;
        top: 65mm;
        right: 0mm;
        font-family:cursive;
        font-size: 46pt;
        color: #000080 !important;
        text-align: center;
        margin: auto;
        position: absolute;
      }
      .certificate-wrapper .certificate-content .main-content {
        position: absolute;
        left: 15mm;
        top: 74mm;
        right: 15mm;
        font-size: 14pt;
        text-align: center;
        margin: auto;
        position: absolute;
        border : none;
        line-height : normal;
      }
  
      .certificate-wrapper .certificate-content .main-content p {
          margin-top: 3mm;
      }
      
      .certificate-wrapper .certificate-content .certificate-logo {
        position: absolute;
        left: auto;
        top: 20mm;
        right: 15mm;
        position: absolute;
        z-index: 1;
      }
       .certificate-wrapper .candidate-content.main-content p{
        margin-top:4mm;
        text-indent: 15px;
        width:600px;
        text-align: center;
      }
      certi.ficate-wrapper .certificate-content .certificate-logo img {
        width: auto;
        height: 30mm;
        max-width: 60mm;
      }
      .certificate-wrapper .certificate-content .date {
        position: absolute;
        left: auto;
        top: 16mm;
        right: 20mm;
        font-size: 14pt;
        position: absolute;
      }
      .certificate-wrapper .certificate-content .sign-president-img
      {
          top: 110mm;
          left: 41mm;
          width : 40mm;
          height : 20mm;
          position : absolute;
      }
      .certificate-wrapper .certificate-content .sign-director-img
      {
          top : 108mm;
          left: 180mm;
          width : 35mm;
          height : 18mm;
          position : absolute;
      }
      .certificate-wrapper .certificate-content .sign-director {
        left: 180mm;
        top: 125mm;
        font-size: 12pt;
        border-top: 0.5pt solid;
        line-height : 8mm;
        position: absolute;
      }
      .certificate-wrapper .certificate-content .sign-president {
        left: 43mm;
        top: 125mm;
        font-size: 12pt;
        border-top: 0.5pt solid;
        line-height : 8mm;
        position: absolute;
      }
      .certificate-wrapper .certificate-content .org-name {
        position: absolute;
        left: auto;
        bottom: 25mm;
        right: 67mm;
        text-align: right;
        font-size: 18pt;
        font-weight: bold;
        position: absolute;
      }
      .certificate-wrapper .certificate-content .org-address {
        right: 3mm;
        bottom: 0mm;
        width: 170mm;
        text-align: right;
        font-size: 12pt;
        font-weight: bold;
        position: absolute;
      }
          .certificate-wrapper .certificate-content .main-content {
        
        left: auto;
        bottom: 10mm;
        right: 63mm;
        text-align: right;
        font-size: 18pt;
        font-weight: bold;
        position: absolute;
        top: 92mm;
      }
      .certificate-wrapper .certificate-content .org-address {
        right: 70mm;
        bottom: 15mm;
        width: 170mm;
        text-align: right;
        font-size: 12pt;
        font-weight: bold;
        position: absolute;
      }
      
      .certificate-wrapper .certificate-content .org-address p {
        margin-bottom: 0mm;
        margin-top : 0mm;
      }
  