@font-face {
	font-family: ctitle;
	src: url("../fonts/WorkSans-SemiBold.ttf");
  }
 @font-face {
	font-family: cname;
	src: url("../fonts/CrystalSymphonyPersonalUseOnlyRegular-15wL.ttf");
  }

@media all{
		body.printView, body.printView:before, body.printView:after { 
		border : none !important;
  }

	.certificate-wrapper {
		overflow: hidden;
		width: 300mm;
		height: 210mm;
		position: relative;
		background: white!important;
		line-height: normal;
		margin-top: 80px;
		margin-left: 400px;
		box-shadow: 0 0 50px rgba(8, 8, 8, 0.3);
  	}

 
  .certificate-wrapper .certificate-background {
		left: 0mm;
		top: auto;
		width: 297mm;
		height: 210mm;
		overflow: hidden;
		position: relative;
	}

	.certificate-border-outer {
		position: absolute;
		left: 12mm;
		top: 9mm;
		width: 275mm;
		height: 189mm;
		overflow: hidden;
		border: 3pt solid rgb(251 181 2 / 43%);
		box-shadow: inset 0px 0px 20px 0px #8080804f;	
		z-index: 2;	
	}

	.certificate-border-inner {
		position: absolute;
		left: 19mm;
		top: 17mm;
		width: 260mm;
		height: 174mm;
		overflow: hidden;
		border: 3pt solid rgb(251 181 2 / 43%);
		box-shadow: inset 0px 0px 20px 0px #8080804f;
		z-index: 2;
	}
	
	.certificate-wrapper .certificate-background .triangle-top-left-middle {
		position: absolute;
		left: 4mm;
		top: -50mm;
		width: 80mm;
		height: 70mm;
		transform: rotateZ(45deg);
		background-image: linear-gradient(to top, rgb(185, 6, 45), rgba(145, 11, 51, 0.98));
		opacity: 20;
		outline: 30px solid rgb(212, 1, 71);
		z-index: 90;
	}

	.certificate-wrapper .certificate-background .triangle-bottom-right-corner {
		position: absolute;
		left: -28mm;
		top: -44mm;
		width: 77mm;
		height: 104mm;
		transform: rotateZ(45deg);
		background-image: linear-gradient(to top, #e2e793fa, #e2e793fa);
		opacity: 25;
		z-index: 80;
	}
	
	.certificate-wrapper .certificate-background .triangle-bottom-right-middle {
		position: absolute;
		right: 1mm;
		bottom: -50mm;
		width: 80mm;
		height: 69mm;
		transform: rotateZ(45deg);
		background-image: linear-gradient(to top, rgb(185, 6, 45), rgba(145, 11, 51, 0.98));
		opacity: 20;
		outline: 30px solid rgb(212, 1, 71);
		z-index: 90;
	}

	.certificate-wrapper .certificate-background .triangle-top-left-corner {
		position: absolute;
		right: -28mm;
		bottom: -44mm;
		width: 79mm;
		height: 106mm;
		transform: rotateZ(45deg);
		background-image: linear-gradient(0.99turn, #e2e793fa, #e2e793fa);
		opacity: 20;
		z-index: 80;
    }


	.certificate-wrapper .certificate-background .line-bottom-left {
		position: absolute;
		left: 55mm;
		top: 163mm;
		width: 61mm;
		height: 1pt;
		background: black;
	}
	.certificate-wrapper .certificate-background .line-bottom-right {
		position: absolute;
		left: 184mm;
		top: 163mm;
		width: 61mm;
		height: 1pt;
		background: black;
	}

    .certificate-wrapper .certificate-content {
		top: 20mm;
		right: 20mm;
		bottom: 20mm;
		left: 20mm;
		position: absolute;
	}

	.certificate-wrapper .certificate-content .title {
		position: absolute;
		left: 0mm;
		top: 9mm;
		right: 0mm;
		font-size: 63pt;
		font-family: ctitle;
		text-align: center;
		margin: auto;
		line-height: normal;
		background: linear-gradient(to bottom, #ed0202, rgb(146, 3, 3));
		background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	

    .certificate-wrapper .certificate-content .subtitle {
		position: absolute;
		left:0mm;
		top:33mm;
		right:0mm;
		font-size: 30pt;
		font-family: sub;
		text-align: center;
		margin: auto;
 	}

	 .certificate-wrapper .certificate-content .subtitle p{
		position: absolute;
		left: 0mm;
		top: 2mm;
		right: 0mm;
		font-size: 15pt;
		font-family: sub;
		text-transform: uppercase;
		text-align: center;
		margin: auto;
		/*color: rgb(146, 3, 3);*/
		background: linear-gradient(to bottom, #ee0303, rgb(146, 3, 3));
		background-clip: text;
		-webkit-text-fill-color: transparent;
 	}

    .certificate-wrapper .certificate-content .candidate-name {
		position: absolute;
		left: 57mm;
		top: 47mm;
		right: 59mm;
		font-size: 68pt;
		font-family: cname;
		font-weight: 500;
		/* text-align: center; */
		margin: auto;
		border-bottom: 2px solid rgb(206, 162, 50);
		box-shadow: 2px 0px 33px -43px rgb(251 181 2 / 57%);
		line-height: 25mm;
  	}

  	.certificate-wrapper .certificate-content .main-content {
		position: absolute;
		left: 15mm;
		top: 80mm;
		right: 15mm;
		font-size: 20pt;
		text-align: center;
		margin: auto;
		border : none;
		line-height : normal;
		font-family: cname;
	}

	.certificate-wrapper .certificate-content .signature-img
	{
		top : 128mm;
		left: 180mm;
		width : 30mm;
		height : 15mm;
		position : absolute;
	}

   .certificate-wrapper .certificate-content .sign-president {
		position: absolute;
		left: 55mm;
		top: 120mm;
		font-size: 20pt;
		
	}

   .certificate-wrapper .certificate-content .sign-director{
		position: absolute;
		left: 173mm;
		top: 120mm;
		font-size: 20pt;
	}
}