body{
	position:absolute;
	overflow:hidden;
	left: 10mm;
    top: 10mm;
    width: 120mm;
    height: 150mm;
    
}
.visiting-card-front{
    position: absolute;
    overflow: hidden;
    top:0mm;
    left:0mm;
    width:120mm;
    height:70mm;
    background-color:black;
    box-shadow: 2px 17px 16px 4px rgb(126, 130, 130);
    
}
.company-box1{
    position: absolute;
    left: 76mm;
    top: 17mm;
    width: 14mm;
    height: 14mm;
    background-color: white;
}
.company-logo1{
    position: absolute;
    font-weight: bold;
    left: 75mm;
    top: 16mm;
    width: 16mm;
    height: 13mm;
    color: black;
    font-size: 15mm;
}
.company{
    position: absolute;
    font-weight: bold;
    left: 68mm;
    top: 34mm;
    width: 16mm;
    height: 5mm;
    color: white;
    font-size: 6mm;
}
.company-sub{
    position: absolute;
    font-weight: bold;
    left: 72mm;
    top: 42mm;
    width: 22mm;
    height: 4mm;
    color: white;
    font-size: 3mm;
}
.company-botm{
    position: absolute;
    left: 72mm;
    top: 55mm;
    width: 31mm;
    height: 4mm;
    color: white;
    font-size: 2mm;  
}
.stri-card-front-left1{
    position: absolute;
    left: 0mm;
    top: -1mm;
    width: 36mm;
    height: 16mm;
    background-color: yellow;
    transform: rotate(45deg);
    }
.stri-card-front-left2{
    position: absolute;
    left: -28mm;
    top: 13mm;
    width: 60mm;
    height: 54mm;
    background-color: white;
    transform: rotate(45deg);
}
.stri-card-front-left3{
    position: absolute;
    left: -18mm;
    top: 35mm;
    width: 34mm;
    height: 38mm;
    background-color: rgb(243, 129, 129);
    transform: rotate(45deg);
}
.visiting-card-back{
    position: absolute;
    overflow: hidden;
    bottom:0mm;
    left:0mm;
    width:120mm;
    height:70mm;
    background-color:white;
    box-shadow: 2px 17px 16px 4px rgb(126, 130, 130);
      }
      img{
        position: absolute;
        left: 8mm;
        top: 10mm;
        width: 40mm;
        height: 40mm;
      }
      .qrname{
    position: absolute;
    left: 7mm;
    top: 52mm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5mm;
    font-weight: bold;
      }
      .proname{
        position: absolute;
    left: 7mm;
    top: 57mm;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3mm;
    font-weight: bold;
    color: #969681;
      }
.visiting-card-back-right1{
    position: absolute;
    bottom: 2mm;
    right: 26mm;
    width: 41mm;
    height: 15mm;
    background-color: yellow;
    transform: rotate(45deg);
}

.visiting-card-back-right2{
    position: absolute;
    bottom: 5mm;
    right: -23mm;
    width: 81mm;
    height: 69mm;
    background-color: rgb(16, 16, 9);
    transform: rotate(45deg);
}
.company-box2{
    position: absolute;
    left: 98mm;
    top: 7mm;
    width: 9mm;
    height: 9mm;
    background-color: white;
}
.company-logo2{
    position: absolute;
    font-weight: bold;
    left: 97mm;
    top: 5mm;
    width: 11mm;
    height: 13mm;
    color: black;
    font-size: 11mm;
}
.address{
    position: absolute;
    left: 64mm;
    top: 17mm;
    width: 32mm;
    height: 7mm;
    font-size: 3mm;
    color: white;
}
.mobile-no{
    position: absolute;
    left: 76mm;
    top: 28mm;
    width: 3mm;
    height: 3mm;
    font-size: 3mm;
    color: white 
}
.company-email{
    position: absolute;
    left: 78mm;
    top: 37mm;
    width: 4mm;
    height: 4mm;
    font-size: 2mm; 
    color: white;
}
.fa-adds{
    position: absolute;
    left: 99mm;
    top: 19mm;
    width: 4mm;
    height: 4mm;
    color: white; 
}
.fa-mobile{
    position: absolute;
    left: 99mm;
    top: 28mm;
    width: 4mm;
    height: 4mm;
    color: white;  
}
.fa-email{
    position: absolute;
    left: 99mm;
    top: 36mm;
    width: 2mm;
    height: 1mm;
    color: white;
}
.visiting-card-back-right3{
    position: absolute;
    bottom: -7mm;
    right: -19mm;
    width: 33mm;
    height: 27mm;
    background-color: rgb(243, 129, 129);
    transform: rotate(45deg);
}