@font-face {
  font-family: sub;
  src: url("../fonts/AlexBrush-Regular.ttf");
}
@font-face {
  font-family: cname;
  src: url("../fonts/New Walt Disney.ttf");
}

@media all{
	body.printView, body.printView:before, body.printView:after { 
		border : none !important;
	}

	.certificate-wrapper {
	  overflow: hidden;
	  width: 297mm;
	  height: 210mm;
	  position: relative;
	  background: white !important;
	  line-height: normal;
	}

	.certificate-wrapper .certificate-background {
	  /*position :absolute;*/
	  left:0mm;
	  top: auto;
	  width: 297mm;
	  height: 210mm;
	  overflow: hidden;
	  position: relative;
	  background:black;

	}
	
	.certificate-wrapper .certificate-background .boxx {
	  /* position : absolute; */
	  left: 14mm;
	  top: 0mm;
	  width: 267mm;
	  height: 180mm;
	  background-color: #808080 !important;
	  opacity: 0.2;
	  position: relative;
	}
	
 .rectright {
	 /*position :absolute;*/
	 z-index:2;
	  right:-20mm;
	  top:46mm;
	  width: 9mm;
	  height: 110mm;
	  background: #0574b9 !important;
	  transform: skewY(-324deg);
	  position:relative;
	
	}
	.rectleft{
		z-index:2;
		right:20mm;
		top:56mm;
		width: 9mm;
		height: 110mm;
		background: #0574b9 !important;
		transform: skewY(220deg);
		position: absolute;
  

	}
	.tri1 {
		/*position : absolute;*/
		left: 20mm;
		top: 152mm;
		width: 12mm;
		height: 10;
		border-style: solid;
		border-width: 23pt 26pt 22pt 0;
		border-color: transparent #7492cc transparent transparent !important;
		position: absolute;
		transform: rotate(180deg);
		z-index: 2;
	  }

	  .tri2{
		/*position : absolute;*/
		z-index:2;
		right:20mm;
		top:42mm;
		border-style: solid;
		border-width: 27pt 27pt 32pt 0;
		border-color: transparent #7492cc transparent transparent  !important;
		position: absolute;
		transform:roatate(-37deg)
	  }

	.line{
		z-index:2;
		position:absolute;
		height:44mm;
		width:1.9mm;
		top:42mm;
		bottom:10mm;
		left:37mm;
		background-color:#57a5fc;
	}
	.line1{
		z-index:2;
		position:absolute;
		height:44mm;
		width:1.9mm;
		top:119mm;
		bottom:10mm;
		left:37mm;
		background-color:#57a5fc;
	}
	.line2{
		z-index:2;
		position:absolute;
		height:43mm;
		width:1.9mm;
		top:46mm;
		bottom:10mm;
		right:37mm;
		background-color:#57a5fc;
	}
	.line3{
		z-index:2;
		position:absolute;
		height:43mm;
		width:1.9mm;
		top:124mm;
		bottom:10mm;
		right:37mm;
		background-color:#57a5fc;
	}
	.line4{
		z-index:2;
		position:absolute;
		height:49mm;
		width:1.9mm;
		top:72mm;
		bottom:10mm;
		left:45mm;
		background-color:#57a5fc;
	}
	.line5{
		z-index:2;
		position:absolute;
		height:49mm;
		width:1.9mm;
		top:81mm;
		bottom:10mm;
		right:46mm;
		background-color:#57a5fc;
	}
	.line6{
		z-index:2;
		position:absolute;
		height:21mm;
		width:1.9mm;
		top:27mm;
		bottom:12mm;
		left:28mm;
		background-color:#57a5fc;
		transform:rotate(-61deg);
	}
	.line7{
		z-index:2;
		position:absolute;
		height:31mm;
		width:1.9mm;
		top:14mm;
		bottom:10mm;
		left:32mm;
		background-color:#57a5fc;
		transform: rotate(-62deg);
	}
	.line8{
		z-index:2;
		position:absolute;
		height:24mm;
		width:1.9mm;
		top:158mm;
		bottom:10mm;
		left:28mm;
		background-color:#57a5fc;
		transform:rotate(-131deg);
	}
	.line9{
		z-index:2;
		position:absolute;
		height:43mm;
		width:1.9mm;
		top:154mm;
		bottom:28mm;
		left:36mm;
		background-color:#57a5fc;
		transform:rotate(49deg);
	}
	.line10{
		z-index:2;
		position:absolute;
		height:25mm;
		width:1.9mm;
		top:142mm;
		bottom:10mm;
		left:46mm;
		background-color:#57a5fc;
	}
	.line11{
		z-index:2;
		position:absolute;
		height:18mm;
		width:1.9mm;
		top:37mm;
		bottom:10mm;
		left:45mm;
		background-color:#57a5fc;
	}
	.line12{
		z-index:2;
		position:absolute;
		height:24mm;
		width:1.9mm;
		top:27mm;
		bottom:10mm;
		left:267mm;
		background-color:#57a5fc;
		transform: rotate(-129deg);
	}
	.line13{
		z-index:2;
		position:absolute;
		height:25mm;
		width:1.9mm;
		top:162mm;
		bottom:10mm;
		left:267mm;
		background-color:#57a5fc;
		transform:rotate(-52deg);
	}
	.line14{
		z-index:2;
		position:absolute;
		height:22mm;
		width:1.9mm;
		top:41mm;
		bottom:10mm;
		right:46mm;
		background-color:#57a5fc;
	}
	.line15{
		z-index:2;
		position:absolute;
		height:25mm;
		width:1.9mm;
		top:147mm;
		bottom:10mm;
		right:46mm;
		background-color:#57a5fc;
	}
	.line16{
		z-index:2;
		position:absolute;
		height:32mm;
		width:1.9mm;
		top:165mm;
		bottom:10mm;
		left:262mm;
		background-color:#57a5fc;
		transform: rotate(-56deg);
	}
	.line17{
		z-index:2;
		position:absolute;
		height:35mm;
		width:1.9mm;
		top:14mm;
		bottom:9mm;
		left:262mm;
		background-color:#57a5fc;
		transform: rotate(53deg);
	}

	.certificate-content {
	  top: 20mm;
	  right: 20mm;
	  bottom: 20mm;
	  left: 20mm;
	  position: absolute;
	  background:white;
	  overflow:hidden;
	}
	
.title {
	 position: absolute;
    left: 65mm;
    /* top: 10mm; */
    right: 0mm;
    font-size: 56pt;
    /* text-align: center; */
    /* margin: auto; */
    line-height: normal;
    top: 15mm;
	font-family: Tahoma, Verdana, sans-serif;
}

	
.sr-no {
 	  left: 15mm;
	  top: 14mm;
	  font-size: 14pt;
	  position: absolute;
	  transform:rotate(0deg);
	}

	.org-logo{
		left:28mm;
		bottom:22mm;
		position:absolute ;
		z-index:2;
		width:33mm;
		height:15mm;
	}

	.org-logo img{
		width:82mm;
		max-height:49mm;
		max-width:44mm;
	}

 .certificate-logo {
	  left: 5mm;
	  bottom: 0mm;
	  position: absolute;
	  z-index: 2;
	  width: 79mm;
	  height: 20mm;
	}
	.certificate img {
	width: 39mm;
    max-height: 33mm;
    max-width: 100%;
    position: absolute;
    top: -44mm;
    left: 107mm;
	}
	.subtitle {
	  position: absolute;
	  left:95mm;
	  top: 41mm;
	  right: 0mm;
	  color:#080808;
	  font-family: sub;
	  font-size:22pt;
	  z-index:2;
	 
	}
	
	
	.certificate-wrapper .certificate-content .initial-content {
	 position: absolute;
    left: 6mm;
    top: 52mm;
    right: 0mm;
    font-size: 11pt;
    text-align: center;
    margin: auto;
    position: absolute;
	color:#000000
	}

	.certificate-wrapper .certificate-content .candidate-name {
	  position: absolute;
	  left: 0mm;
	  top: 56mm;
	  right: 0mm;
	  font-family: Brush Script MT;
	  font-size: 55pt;
	  color: #000;
	  text-align: center;
	  margin: auto;
	  position: absolute;
	}

	.line19{
		position: absolute;
		height:129mm;
		width: 1mm;
		top:17mm;
		bottom: 10mm;
		right:131mm;
		background-color: #000;
		transform:rotate(90deg);
	}
	.certificate-wrapper .certificate-content .main-content {
	  position: absolute;
	  left: 15mm;
	  top: 74mm;
	  right: 15mm;
	  font-size: 14pt;
	  text-align: center;
	  margin: auto;
	  position: absolute;
	  border : none;
	  line-height : normal;
	}

	.certificate-wrapper .certificate-content .main-content p {
		margin-top: 3mm;
	}
	
	 .certificate-wrapper .candidate-content.main-content p{
	  margin-top:4mm;
	  text-indent: 15px;
	  width:600px;
	  text-align: center;
	}
	.certificate-wrapper .certificate-content .certificate-logo {
		position: absolute;
		left: 110mm;
		top: 108mm;
		right: 15mm;
		z-index: 1;
	  }
  
	certificate-wrapper .certificate-content .certificate-logo img {
	  width: auto;
	  height: 30mm;
	  max-width: 60mm;
	}
	.sr-no {
		left: 22mm;
	   top: 7mm;
	   font-size: 16pt;
	   position: absolute;
	   transform:rotate(0deg);
	 }
	.certificate-wrapper .certificate-content .date {
	  position: absolute;
	  left: auto;
	  top: 7mm;
	  right: 26mm;
	  font-size: 14pt;
	  position: absolute;
	}
	.certificate-wrapper .certificate-content .sign-president-img
	{	
		top:111mm;
		left:50mm;
		width :30mm;
		height :14mm;
		position : absolute;
	}
	.certificate-wrapper .certificate-content .sign-director-img
	{
		top : 108mm;
		left: 184mm;
		width : 35mm;
		height : 14mm;
		position : absolute;
	}
	.certificate-wrapper .certificate-content .sign-director {
	  left: 180mm;
	  top: 129mm;
	  font-size: 12pt;
	  border-top: 0.5pt solid;
	  line-height : 8mm;
	  position: absolute;
	}
	.certificate-wrapper .certificate-content .sign-president {
	  left:43mm;
	  top: 126mm;
	  font-size: 12pt;
	  border-top: 0.5pt solid;
	  line-height : 8mm;
	  position: absolute;
	}
	.certificate-wrapper .certificate-content .org-name {
	  position: absolute;
	  top:148mm;
	  left:113mm;
	  bottom:17mm;
	  text-align: right;
	  font-size:16pt;
	  font-weight: bold;
	  position: absolute;
	}
	.certificate-wrapper .certificate-content .org-address {
	  right:37mm;
	  top:157mm;
	  width: 170mm;
	  text-align: right;
	  font-size: 14pt;
	  font-weight: bold;
	  position: absolute;
	}
		.certificate-wrapper .certificate-content .main-content {
	  
	  left: auto;
	  bottom: 10mm;
	  right: 63mm;
	  text-align: right;
	  font-size: 18pt;
	  font-weight: bold;
	  position: absolute;
	  top: 92mm;
	}
	.certificate-wrapper .certificate-content .org-address {
	  right:27mm;
	  top:157mm;
	  width: 170mm;
	  text-align: right;
	  font-size: 10pt;
	  font-weight: bold;
	  position: absolute;
	}
	
	.certificate-wrapper .certificate-content .org-address p {
	  margin-bottom: 0mm;
	  margin-top : 0mm;
	}

}