@font-face {
  font-family: sub;
  src: url("../fonts/AlexBrush-Regular.ttf");
}
@font-face {
  font-family: cname;
  src: url("../fonts/New Walt Disney.ttf");
}

@media all{
	body.printView, body.printView:before, body.printView:after { 
		
		border : none !important;
	}
	body{
		background-color: #abc9d6;
	}
	.certificate-wrapper {
	  overflow: hidden;
	  width: 297mm;
	  height: 210mm;
	  position: relative;
	  background: #FAF0E6 !important;
	  line-height: normal;
	}
	.certificate-wrapper .certificate-background {
	  /*position : absolute;*/
	  left: 0mm;
	  top: auto;
	  width: 297mm;
	  height: 210mm;
	  overflow: hidden;
	  position: relative;
	  background-color: white;
	}
	.certificate-wrapper .certificate-background .recttop {
	  /*position : absolute;*/
	  left: -54.5mm;
      top: -48mm;
      width: 136.5mm;
      height: 135.5mm;
      background: rgb(248, 201, 209) !important;
      transform: rotate3d(1, 1, 1, 45deg);
      position: relative;
	}
	.certificate-wrapper .certificate-background .rectleft {
	  width: 14.5mm;
	  height: 81mm;
	  top: -3.5mm;
	  background: #DC143C !important;
	  transform: skewY(-28deg);
	  position: absolute;
	}

    .dot {
      top:17mm ;
	  left: 31mm;
      width: 2mm;
      height: 2mm;
      background-color: black;
      border-radius: 13mm;
      position: absolute;
    }

	.dot-1 { 
		top: -6mm;
	    left: -9mm; 
		position: absolute;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius: 13mm;
	 }
    .dot-2  { 
		top: -2mm;  
		left: 13mm;
		position: absolute;
		width:2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	 }
    .dot-3  {
		top: 4mm;  
		left: 21mm;
		position: absolute;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius: 13mm;
	}
    .dot-4  { 
		top: 9mm;  
		left: 11mm; 
		position: absolute;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius: 13mm;
	}
    .dot-5  { 
		top: 1mm;  
		left: -14mm; 
		position: absolute;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius: 13mm;
	}
    .dot-6  { 
		top: 13mm;  
		left: -12mm; 
		position: absolute;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}
    .dot-7  { 
		top: 69px;  
		left: 64px; 
		position: absolute;
		width: 2mm;
        height:2mm;
        background-color: black;
        border-radius: 13mm;
	}
    .dot-8 { 
		top: 25mm;  
		left: -21mm; 
		position: absolute;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius: 13mm;
	}
    .dot-9 { 
		top: 9mm;  
		left: -1mm; 
		position: absolute;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}

	.dot-10 { 
		top: 20mm;  
		left: -4mm; 
		position: absolute;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}

	.dot-11 { 
		top: 23mm;  
		left: 8mm; 
		position: absolute;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}

	.dot-12 { 
		top: 33mm;  
		left: 8mm; 
		position: absolute;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}

	.dot-13 { 
		top: 30mm;  
		left: -7mm; 
		position: absolute;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}

	
	.dotbtm-1{ 
		top: 151mm;
        left: 254mm;
        position: relative;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	 }
	.dotbtm-2{
		top: 160mm;
        left: 262mm; 
		position:relative;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}
	.dotbtm-3{ 
		top: 165mm;
        left: 254mm;
		position: relative;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}
	.dotbtm-4{
	    top: 173mm;
        left: 243mm;
		position: relative;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}
	.dotbtm-5{
		top: 172mm;
        left: 213mm;
		position: relative;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}
	.dotbtm-6{
		top: 175mm;
        left: 228mm;
		position: relative;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}
	.dotbtm-7{
		top: 123mm;
        left: 223mm;
		position: relative;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}
	.dotbtm-8{
		top: 130mm;
        left: 213mm;
		position: relative;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}
	.dotbtm-9{
		top: 130mm;
        left: 235mm;
		position: relative;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}
	.dotbtm-10{
		top: 142mm;
        left: 242mm;
		position: relative;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}
	.dotbtm-11{
		top: 148mm;
        left: 228mm;
		position: relative;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}
    .dotbtm-12{
		top: 139mm;
        left: 212mm;
		position: relative;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}
	.dotbtm-13{
		top: 145mm;
        left: 201mm;
		position: relative;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}
	.dotbtm-14{
		top: 128mm;
        left: 220mm;
		position: relative;
		width: 2mm;
        height: 2mm;
        background-color: black;
        border-radius:13mm;
	}
	.certificate-wrapper .certificate-background .tri1 {
	  /*position : absolute;*/
	  left: -28mm;
      top: 74mm;
      width: 0mm;
      height: 25mm;
      border-style: solid;
      border-width: 66pt 154pt 81pt 16px;
      border-color: transparent rgb(190, 233, 249)transparent transparent !important;
      position: absolute;
	  transform: rotate3d(4, 29, -115, 60deg);
	}
	.certificate-wrapper .certificate-background .tri2 {
	  /*position : absolute;*/
	  left: 12mm;
	  top: 80mm;
	  width: 0mm;
	  height: 0mm;
	  border-style: solid;
	  border-width: 34pt 0 33pt 55pt;
	  border-color: transparent transparent transparent #DC143C !important;
	  position: absolute;
	  z-index: 1;
	}
	.certificate-wrapper .certificate-background .tri3 {
	  /*position : absolute;*/
	  left: 15mm;
	  top: 71mm;
	  width: 0mm;
	  height: 0mm;
	  border-style: solid;
	  border-width: 19pt 48pt 28pt 0;
	  border-color: transparent #DC143C transparent transparent !important;
	  position: absolute;
	  z-index: 1;
	}
	.certificate-wrapper .certificate-background .boxx {
	  /* position : absolute; */
	  left: 14mm;
	  top: -120mm;
	  width: 267mm;
	  height: 180mm;
	  background-color: #ffffff !important;
	  opacity: 0.2;
	  position: relative;
	  outline-style: inset;
      outline-color: blue;
	}
	.certificate-wrapper .certificate-background .rectbtm {
	  /*position : absolute;*/
	  left: 182mm;
      top: 198.5mm;
      width: 198mm;
      height: 109mm;
      background: rgb(190, 233, 249)!important;
      transform: rotateZ(47deg);
      position: absolute;
	  border-color: transparent rgb(190, 233, 249) transparent transparent !important;
	}
	.certificate-wrapper .certificate-background .rectright {
	  /*position : absolute;*/
	  left: 281mm;
	  top: 131mm;
	  width: 16mm;
	  height: 70mm;
	  background: #DC143C !important;
	  transform: skewY(-25deg);
	  position: absolute;
	}
	.certificate-wrapper .certificate-background .tri4 {
	  /*position : absolute;*/
	  left: 286.5mm;
	  top: 112mm;
	  width: 0mm;
	  height: 0mm;
	  border-style: solid;
	  border-width: 19pt 0 18pt 28pt;
	  border-color: transparent transparent transparent #DC143C !important;
	  position: absolute;
	}
	.certificate-wrapper .certificate-background .tri5 {
	  /*position : absolute;*/
	  left: 264mm;
	  top: 104mm;
	  width: 0mm;
	  height: 0mm;
	  border-style: solid;
	  border-width: 37pt 55pt 34pt 0;
	  border-color: transparent #DC143C transparent transparent !important;
	  position: absolute;
	}
	.certificate-wrapper .certificate-background .tri6 {
	  /*position : absolute;*/
	  position: absolute; 
      left: 288mm;
      top: 97mm;
      width: 0mm;
      height: 20mm;
      border-style: solid;
      border-width: 24mm 108px 257pt 159pt;
      border-color: transparent transparent transparent rgb(248, 201, 209)!important;
      position: absolute;
	  transform: rotate(-43deg);
    }
	.certificate-wrapper .certificate-background .boxbtm {
	  /*position : absolute;*/
	  left: 14mm;
	  top: 140.3mm;
	  width: 56mm;
	  height: 54mm;
	  border-left: 3pt solid #800000 !important;
	  border-bottom: 3pt solid #800000 !important;
	  position: absolute;
	}
	.certificate-wrapper .certificate-background .boxtop {
	  /*position : absolute;*/
	  left: 16mm;
      top: 14.5mm;
      width: 266mm;
      height: 183mm;
      position: absolute;
      outline-style: solid;
	  outline-color: #a6ecfd;
	  outline-width: 2mm;
    }
	  
	  
	.certificate-wrapper .certificate-content {
	  top: 20mm;
	  right: 20mm;
	  bottom: 20mm;
	  left: 20mm;
	  position: initial;
	  background-color: white;
	}
	.certificate-wrapper .certificate-content .title {
	  position: absolute;
	  left: 0mm;
	  top: 34mm; 
	  right: 0mm;
	  font-size: 64pt;
	  text-align: center;
	  margin: auto;
	  line-height: normal;
	  text-transform: uppercase;
	  font-family: sans-serif;
      font-weight: bold;
	}
	.certificate-wrapper .certificate-content .sr-no {
	  position: absolute;
	  left: 0mm;
	  top: 0mm;
	  font-size: 16pt;
	  position: absolute;
	}
	.certificate-wrapper .certificate-content .org-logo {
	  left: 18mm;
      bottom: 12mm;
      position: absolute;
      z-index: 2;
      width: 17mm;
    }
	}
	.certificate-wrapper .certificate-content .org-logo img {
	  width: auto;
	  max-height: 22mm;
	  max-width: 100%;
	}
	.certificate-wrapper .certificate-content .subtitle {
	  position: absolute;
	  left: 0mm;
	  top: 59mm;
	  right: 0mm;
	  font-family: sans-serif;
	  font-size: 20pt;
	  text-align: center;
	  margin: auto;
	  text-transform: uppercase;
	}
	.certificate-wrapper .certificate-content .initial-content {
	  position: absolute;
	  left: 0mm;
	  top: 70mm;
	  right: 0mm;
	  font-size: 14pt;
	  text-align: center;
	  margin: auto;
	  position: absolute;
	  text-transform: uppercase;
      font-family: sans-serif;
	  border-top: 1.5pt solid;
      border-bottom: 1.5pt solid;
      line-height: 13mm;
      width: 99mm;
	  color: rgb(146, 145, 145);

	}
	.certificate-wrapper .certificate-content .candidate-name {
	  position: absolute;
	  left: 0mm;
	  top: 78mm;
	  right: 0mm;
	  font-size: 88pt;
	  color: #000000 !important;
	  text-align: center;
	  margin: auto;
	  position: absolute;
	  font-family: "Rouge Script", cursive;
      font-weight: 400;
      font-style: normal;

	}
	.certificate-wrapper .certificate-content .main-content {
	  position: absolute;
	  left: 15mm;
	  top: 114mm;
	  right: 15mm;
	  font-size: 14pt;
	  text-align: center;
	  margin: auto;
	  position: absolute;
	  border : none;
	  line-height : normal;
	  width: 172mm;
	  color: rgb(146, 145, 145);
	  font-family: arial;
	}

	.certificate-wrapper .certificate-content .main-content p {
		margin-top: 3mm;
	}
	
	.certificate-wrapper .certificate-content .certificate-logo {
	  position: absolute;
	  left: auto;
	  top: 20mm;
	  right: 15mm;
	  position: absolute;
	  z-index: 1;
	}
	.certificate-wrapper .certificate-content .certificate-logo img {
	  width: auto;
	  height: 30mm;
	  max-width: 60mm;
	}
	.certificate-wrapper .certificate-content .date {
	  position: absolute;
	  left: auto;
	  top: 1mm;
	  right: 1mm;
	  font-size: 14pt;
	  position: absolute;
	}
	.certificate-wrapper .certificate-content .sign-president-img
	{
		top: 158mm;
		left: 65mm;
		width : 40mm;
		height : 16mm;
		position : absolute;
	}
	.certificate-wrapper .certificate-content .sign-director-img
	{
		top : 156mm;
		left: 191mm;
		width : 44mm;
		height : 18mm;
		position : absolute;
	}
	.certificate-wrapper .certificate-content .sign-director {
	  left: 195mm;
	  top: 171mm;
	  font-size: 12pt;
	  border-top: 0.5pt solid;
	  line-height : 8mm;
	  position: absolute;
	}
	.certificate-wrapper .certificate-content .sign-president {
	  left: 67mm;
	  top: 171mm;
	  font-size: 12pt;
	  border-top: 0.5pt solid;
	  line-height : 8mm;
	  position: absolute;
	}
	.certificate-wrapper .certificate-content .org-name {
	  position: absolute;
	  left: auto;
	  bottom: 22mm;
	  right: 75mm;
	  text-align: center;
	  font-size: 18pt;
	  font-weight: bold;
	  position: absolute;
	}
	.certificate-wrapper .certificate-content .org-address {
	  right: 51mm;
	  bottom: 13mm;
	  width: 170mm;
	  text-align: center;
	  font-size: 12pt;
	  font-weight: bold;
	  position: absolute;
	}
	.certificate-wrapper .certificate-content .org-address p {
	  margin-bottom: 0mm;
	  margin-top : 0mm;
	}
}