

@font-face {
  font-family: sub;
  src: url("../fonts/AlexBrush-Regular.ttf");
}

@font-face {
  font-family: cname;
  src: url("./fonts/OpenSans_Condensed-Light.ttf");
}

@media all {

  body.printView,
  body.printView:before,
  body.printView:after {
    border: none !important;
  }

  .certificate-wrapper {
    overflow: hidden;
    width: 297mm;
    height: 208mm;
    position: relative;
    line-height: normal;
  /* background-image: url("E:\certificate\background.jpg");*/
  }

  .certificate-wrapper .certificate-background {
    position: absolute;
    left: 0mm;
    top: auto;
    width: 315mm;
    height: 210mm;
    overflow: hidden;
    position: relative;
  }



  .certificate-wrapper .certificate-background .rect9 {
    Border-bottom: 91.75pt;
    border-right: 25pt;
    top: -79mm;
    left: 458pt;
    height: 352pt;
    background: #B68D4C;
    width: 13pt;
    margin-left: -571px;
    margin-top: 305px;
    transform: skewY(-49deg);
    position: absolute;
  }

  .certificate-wrapper .certificate-background .rect10 {
    Border-bottom: 91.75pt;
    border-right: 25pt;
    top: -72mm;
    left: 460pt;
    height: 13pt;
    background: #B68D4C;
    width: 433pt;
    margin-left: -571px;
    margin-top: 305px;
    transform: skewX(-230deg);
    position: absolute;
  }

  .certificate-wrapper .certificate-background .rect11 {
    Border-bottom: 91.75pt;
    border-right: 25pt;
    top: 113mm;
    left: 811pt;
    height: 13pt;
    background: #B68D4C;
    width: 433pt;
    margin-left: -571px;
    margin-top: 305px;
    transform: skewX(-230deg);
    position: absolute;
  }

  .certificate-wrapper .certificate-background .rect12 {
    Border-bottom: 91.75pt;
    border-right: 25pt;
    top: -8mm;
    left: 1226pt;
    height: 352pt;
    background: #B68D4C;
    width: 13pt;
    margin-left: -571px;
    margin-top: 305px;
    transform: skewY(-49deg);
    position: absolute;
  }


  .certificate-wrapper .certificate-background .recttop {

    position: absolute;
    left: 1.5mm;
    top: auto;
    width: 142.5mm;
    height: 9.5mm;
    background: #cc0000 !important;
    transform: skewX(-50deg);
    position: relative;
  }

  .certificate-wrapper .certificate-background .rectleft {
    width: 10.5mm;
    height: 105mm;
    top: -3.5mm;
    background: #cc0000 !important;
    transform: skewY(-28deg);
    position: absolute;


  }

  .certificate-wrapper .certificate-background .rect1 {
    border-top: 32.75pt;
    border-right: 25pt;
    top: 199mm;
    left: 373pt;
    position: absolute;
    transform: skew(129deg);
    height: 68pt;
    background: #f7f6f2;
    width: 19pt;
  }

  .certificate-wrapper .certificate-background .rect2 {

    border-top: 32.75pt;
    border-right: 25pt;
    top: 0mm;
    left: 404pt;
    position: absolute;
    transform: skew(135deg);
    height: 26pt;
    background: #f7f6f2;
    width: 18pt;
  }

  .certificate-wrapper .certificate-background .rect3 {

    border-bottom: 20.75pt;
    border-right: 25pt;
    top: -127mm;
    left: 1262pt;
    position: absolute;
    transform: skew(135deg);
    height: 344pt;
    background: #91000E;
    width: 8pt;
    margin-left: -571px;
    margin-top: 305px;
    transform: skewy(-60deg);

  }

  .certificate-wrapper .certificate-background .rect4 {

    border-bottom: 32.75pt;
    border-right: 25pt;
    top: 21mm;
    left: 420pt;
    height: 14pt;
    background: #f7f6f2;
    width: 38pt;
    margin-left: -571px;
    margin-top: 305px;
    transform: skewy(-28deg);
    position: absolute;


  }

  .certificate-wrapper .certificate-background .rect5 {
    border-bottom: 91.75pt;
    border-right: 25pt;
    top: 29mm;
    left: 426pt;
    height: 278pt;
    background: #91000E;
    width: 11pt;
    margin-left: -571px;
    margin-top: 305px;
    transform: skewy(-38deg);
    position: absolute;


  }

  .certificate-wrapper .certificate-background .rect6 {
    border-bottom: 91.75pt;
    border-right: 25pt;
    top: 124mm;
    left: 410pt;
    height: 15pt;
    background: #91000E;
    width: 394pt;
    margin-left: -571px;
    margin-top: 305px;
    transform: skewx(117deg);
    position: absolute;


  }

  .certificate-wrapper .certificate-background .rect7 {
    border-bottom: 91.75pt;
    border-right: 25pt;
    top: -81mm;
    left: 860pt;
    height: 11pt;
    background: #91000E;
    width: 420pt;
    margin-left: -571px;
    margin-top: 305px;
    transform: skewx(119deg);
    position: absolute;

  }

  .certificate-wrapper .certificate-background .rect8 {
    border-bottom: 32.75pt;
    border-right: 25pt;
    top: -5mm;
    left: 1239pt;
    height: 20pt;
    background: #f7f6f2;
    width: 46pt;
    margin-left: -571px;
    margin-top: 305px;
    transform: skewy(-36deg);
    position: absolute;

  }

  .certificate-wrapper .certificate-background .boxx {
    position: absolute;
    left: 14mm;
    top: 0mm;
    width: 250mm;
    height: 170mm;
    background-color: #FFFFFF !important;
    opacity: 0.2;
    position: relative;
  }

  .certificate-wrapper .certificate-background .rectright {
    width: 7.5mm;
    height: 81mm;
    top: -3.5mm;
    background: #EDEDED !important;
    transform: skewY(-28deg);
    position: absolute;
  }

  .certificate-wrapper .certificate-background .rectbtm {
    position: absolute;
    left: 146mm;
    top: 197.5mm;
    width: 156mm;
    height: 15.5mm;
    background: #CC0000 !important;
    transform: skewX(-50deg);
    position: absolute;
  }

  .certificate-wrapper .certificate-background .rectright {
    position: absolute;
    left: 286mm;
    top: 84mm;
    width: 11.5mm;
    height: 124mm;
    background: #CC0000 !important;
    transform: skewY(-25deg);
    position: absolute;

  }

  .certificate-wrapper .certificate-content {
    top: 20mm;
    right: 20mm;
    bottom: 20mm;
    left: 20mm;
    position: absolute;
  }

  .certificate-wrapper .certificate-content .title {
    position: absolute;
    left: -2mm;
    /* top: 15mm; */
    right: 0mm;
    font-size: 70pt;
    text-align: center;
    margin: auto;
    font-family: "Kanit", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #B68D4C;
  }

  .certificate-wrapper .certificate-content .sr-no {
    position: absolute;
    left: 0mm;
    top: 0mm;
    font-size: 16pt;
    position: absolute;
  }
  .certificate-wrapper .certificate-content .date {
	  position: absolute;
	  left: auto;
	  top: 1mm;
	  right: 1mm;
	  font-size: 14pt;
	  position: absolute;
	}

  .certificate-wrapper .certificate-content .org-logo {
    left: -11mm;
    bottom: -16mm;
    position: absolute;
    z-index: 2;
    width: 66mm;
    height: 14mm;

  }

  .certificate-wrapper .certificate-content .org-logo img {
    width: auto;
    max-height: 22mm;
    max-width: 100%;
  }

  .certificate-wrapper .certificate-content .subtitle {
    position: absolute;
    left: 0mm;
    top: 30mm;
    right: 0mm;
    color: #B68D4C !important;
	  font-family: "Manrope", sans-serif;
	  font-optical-sizing: auto;
	  font-weight: <weight>;
	  font-style: normal;
    font-size: 30pt;
    text-align: center;
    margin: auto;
  }

  .certificate-wrapper .certificate-content .initial-content {
   Position: absolute;
    left: 0mm;
    top: 42mm;
    right: 0mm;
    font-size: 20pt;
    text-align: center;
    margin: auto;
    position: absolute;
  }

  .certificate-wrapper .certificate-content .candidate-name {
    position: absolute;
    left: 0mm;
    top: 80mm;
    right: 0mm;
    font-family: 'Brush Script MT', cursive;
    font-size: 77pt;
    color: #B68D4C !important;
    text-align: center;
    margin: auto;
    position: absolute;
    height: 74mm;


  }

  .certificate-wrapper .certificate-content .main-content {
    position: absolute;
    left: 15mm;
    top: 112mm;
    right: 15mm;
    font-size: 17pt;
    text-align: center;
    margin: auto;
    position: absolute;
    border: none;
    line-height: normal;

  }

  .certificate-wrapper .certificate-content .main-content p {
    margin-top: 3mm;
  }


  .certificate-wrapper .certificate-content .certificate-logo {
    position: absolute;
    left: 110mm;
    top: 53mm;
    right: 30mm;
    filter: drop-shadow(0px 5px 16px #0A0909);
    position: absolute;
    z-index: 1;

  }

  .certificate-wrapper .certificate-content .certificate-logo img {
    width: auto;
    height: 35mm;
    max-width: 60mm;
    left: 15mm;
    bottom: 40mm;
  }


 

  .certificate-wrapper .certificate-content .sign-president-img {

    top: 130mm;
    left: 9mm;
    width: 40mm;
    height: 20mm;
    position: absolute;
  }

  .certificate-wrapper .certificate-content .sign-director-img {

    top: 130mm;
    left: 200mm;
    width: 40mm;
    height: 20mm;
    position: absolute;
  }

  .certificate-wrapper .certificate-content .sign-director {
    left: 200mm;
    top: 145mm;
    font-size: 12pt;
    border-top: 0.5pt solid;
    line-height: 8mm;
    position: absolute;
  }

  .certificate-wrapper .certificate-content .sign-president {
    left: 9mm;
    top: 145mm;
    font-size: 12pt;
    border-top: 0.5pt solid;
    line-height: 8mm;
    position: absolute;
  }

  .certificate-wrapper .certificate-content .org-name {
    position: absolute;
    left: auto;
    bottom: 3mm;
    right: 3mm;
    text-align: right;
    font-size: 18pt;
    font-weight: bold;
    position: absolute;
  }

  .certificate-wrapper .certificate-content .org-address {
   right: 3mm;
    bottom: -5mm;
    width: 170mm;
    text-align: right;
    font-size: 10pt;
    font-weight: bold;
    position: absolute;
  }

  .certificate-wrapper .certificate-content .org-address p {
    margin-bottom: 0mm;
    margin-top: 0mm;
  }


.certificate-wrapper .certificate-background .imges {
  position: relative;
  background-repeat: no-repeat;
  background-image: url(img1.webp);
  height: 180mm;
  width: 288mm;
  overflow: hidden;
  top: -166mm;
  left: 17mm;
  background-size: 91%;
}