*{
    margin: 0;
    padding: 0;
}
body{
    background: gray;
}

.letter-wrap{
    height: 297mm;
    width: 210mm;
    margin: auto;
    background-color:white;
    position: relative;
    overflow: hidden;
    color: black;
    /* box-shadow: 2px 10px 4mm  black; */
    /* border: 1px solid black; */
}
.topbox1{
    height: 8mm;
    width: 100%;
    background: rgb(88, 191, 101);
}

.topbox2{
    height: 13mm;
    width: 81mm;
    border: 3px solid rgb(88, 191, 101);
    position: absolute;
    transform: rotate(90deg);
    border-radius: 8mm;
    right: -13mm;
    top: 0px;
}

.topbox3{
   
    height: 13mm;
    width: 78mm;
    border: 3px solid rgb(88, 191, 101);
    position: absolute;
    border-radius: 8mm;
    top: 66mm;
    left: -6mm;

}
.bottombox1{
    position: absolute;
    bottom: 40mm;
    left: 16mm;
    display: flex;
}
.tri1{
    height: 13mm;
    margin: 2mm;
    width: 4mm;
    background: rgb(232, 227, 227);
    border-radius: 25px;
}
.bottombox2{
    position: absolute;
    bottom: 40mm;
    left: 133mm;

}
.tri2{
    height: 4mm;
    margin: 2mm;
    width: 13mm;
    background: rgb(232, 227, 227);
    border-radius: 25px;
}
.bottombox3{
    height: 12mm;
    width: 130mm;
    border: 3px solid rgb(88, 191, 101);
    position: absolute;
    border-radius: 30px;
    bottom: 18mm;
    left: -22px;
}

.letter-org-logo{
    text-align: center;
    left: 26mm;
    top: 18mm;
    position: absolute;
}

.letter-org-name{
    position: absolute;
    top: 43mm;
    left: 25mm;
    font-size: 20pt;
}
.BRAND{
    font-size: 51pt;
    padding: 2mm;
    color: rgb(88, 191, 101);
 }

 .letter-date{
    top:44mm;
    right: 34mm;
    position: absolute;
 }
 .address{
    position: absolute;
    top: 67mm;
    left: 11mm;

 }
 .letter-body-message{
position: absolute;
top:92mm;
padding-left: 13mm;
padding-right: 13mm;
text-align: justify;
 }
 .letter-body-message p{
    padding: 5mm ;
 }
 .letter-body-sign{
    text-align: right;
    position: absolute;
    right: 18mm;
    bottom: 44mm;
 }
 #name{
    border-bottom: 1px solid black;
 }
 
 .letter-footer{ 
    position: relative;
    top: 262mm;
    left: 5mm;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

